<!-- Add your site or application content here -->
<header>
    <h1>Google<span>MapsAPI</span></h1>
</header>

<div class="container">



    <section class="image-gallery col-xs-12">

            <div class="spinner" ng-if="Home.loading"></div>

              Google Maps<br>

              <button ng-click="Home.newLocationIsHome()" class="btn btn-primary">Take Home</button>

              <button ng-click="Home.newLocationIsOffice()" class="btn btn-primary">Go To Office</button>

              <ui-gmap-google-map center="map.center" options="Home.options" zoom="map.zoom"></ui-gmap-google-map>


              <div ng-if="!Home.loading">
                <!-- loader content -->





              </div>





        <div class="clearfix"></div>
    </section>

    <div class="clearfix"></div>
</div>
