<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h2>Properties</h2>

      <ul>
        <li ng-repeat="property in NgMap.properties">
          {{ property.displayable_address }}
        </li>
      </ul>
    </div>

    <div class="col-xs-8">
      <h2>Map</h2>

       <ng-map center="[51.608403, -0.0708741]">

         <marker ng-repeat="property in NgMap.properties"
         position="{{[property.latitude, property.longitude]}}"
         data="{{data[$index]}}"
         on-click="showData()";
         title="pos: {{property.displayable_address}}"></marker>

       </ng-map>

    </div>
  </div>
</div>
